<div
    class="site-nav__dropdown currency-toggle__dropdown absolute z-[1000000] bg-[var(--site-header-background-color)] top-[100%] !overflow-auto left-0">
    <div class="flex justify-between mx-auto">
        <div class="site-nav__dropdown-center">
            <ul>
                <li class="mb-[16px]">
                    <a href="#" title="$ CAD" class="text-center text-[2rem] leading-[2.8rem] font-[400]">
                        <span>$ CAD</span>
                    </a>
                </li>
                <li class="mb-[16px]">
                    <a href="#" title="$ CAD" class="text-center text-[2rem] leading-[2.8rem] font-[400]">
                        <span>£ GBP</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>