<div class="product__accordion product__accordion--details pt-[34px]">
  <h3 class="product__accordion-title text-[2rem] heading-[2.2rem] text-[#000] font-sofia font-[600]">
    Why You'll Love It
  </h3>
  <div class="product__accordion-details">
    <ul style="list-style-type: disc; padding-left: 40px;">
      <li class="mb-[5px] font-sofia text-[#000]">Strengthens roots and strands to help prevent breakage</li>
      <li class="mb-[5px] font-sofia text-[#000]">Stimulates scalp circulation for healthier hair</li>
      <li class="mb-[5px] font-sofia text-[#000]">Weightless hair and scalp hydration</li>
      <li class="mb-[5px] font-sofia text-[#000]">For all hair and scalp types</li>
    </ul>
    <p class="!font-sofia text-[#000] text-[1.6rem] leading-[2.4rem]">
      A multi-benefit pre-wash hair oil treatment that strengthens your roots, hydrates your scalp and strands and
      promotes healthier hair. Infused with Ashwagandha and Amla, this lightweight oil is formulated for all hair types,
      including color-treated hair. Best used with a relaxing head massage for the perfect oil and om.
    </p>
  </div>
</div>
