<div class="h-[32px] bg-[var(--promobar-gradient-start-color)] bg-gradient-to-r from-[var(--promobar-gradient-start-color)] to-[var(--promobar-gradient-end-color)] text-[var(--promobar-text-color)] text-xs flex items-center justify-center">
  <p class="text-center relative promobar-links block w-full h-full">
    <span
      class="promobar-link font-sofia flex justify-center items-center text-[14px] h-[32px] leading-[22px] font-[600] absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-700 ease-in-out transform"
    >
      <a href="#" title="Sign up for 15% OFF your order"> {{ section.settings.promo_1 }}</a>
    </span>
    <span
      class="promobar-link font-sofia flex justify-center items-center text-[14px] h-[32px] leading-[22px] font-[600] absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-700 ease-in-out transform"
    >
      <a href="#" title="NEW! Root Refresh Dry Shampoo"> {{ section.settings.promo_2 }}</a>
    </span>
    <span
      class="promobar-link font-sofia flex justify-center items-center text-[14px] h-[32px] leading-[22px] font-[600] absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-700 ease-in-out transform"
    >
      <a href="#" title="FREE Shipping on US orders +$50"> {{ section.settings.promo_3 }}</a>
    </span>
  </p>
</div>
