:root {
    --promobar-gradient-start-color: #f9423a;
    --promobar-gradient-end-color  : #f9423a;
    --promobar-text-color          : #ffffff;
    --wrapper-padding-x            : 28px;
    --site-margin-top              : 99px;
    --body-background-color        : #fff5ec;
    --wrapper-padding-x            : 28px;
    --button-padding-x             : 56px
}

html {
    box-sizing: border - box;
    font-size : 62.5%;
}

@media screen and (min-width:750px) {
    :root {
        --wrapper-padding-x: 40px
    }
}

@media screen and (min-width:1025px) {
    :root {
        --site-margin-top: 121px
    }
}

@media screen and (min-width:1400px) {
    :root {
        --wrapper-padding-x: 80px
    }
}

*,
:after,
:before,
input {
    box-sizing: border-box
}

body,
html {
    margin   : 0;
    max-width: 100%;
    padding  : 0
}

body {
    background-color: var(--body-background-color);
}

body,
button,
input,
label,
select,
textarea {
    color      : #000;
    font-family: SofiaPro, helvetica, arial, sans-serif;
    font-size  : 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}


ul {
    padding: 0;
    margin : 0;
}

.wrapper {
    margin   : 0 auto;
    max-width: 1760px;
    padding  : 0 var(--wrapper-padding-x);
}

.site-nav__dropdown {
    padding: 54px 0;
}

@media screen and (min-width: 1400px) {
    .width-base {
        max-width: 1602px;
        width    : calc(100% - 158px);
    }
}

.border-black-right {
    border-right: 1px solid #000
}


.btn {
    align-items        : center;
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    background-color   : #f9423a;
    border             : 0;
    border-radius      : 24px;
    color              : #000;
    cursor             : pointer;
    display            : inline-flex;
    font-family        : SofiaPro, helvetica, arial, sans-serif;
    font-size          : 1.6rem;
    height             : 50px;
    justify-content    : center;
    line-height        : 2.4rem;
    margin             : 0;
    font-weight        : 700;
    padding            : 0 var(--button-padding-x);
    text-align         : center;
    text-decoration    : none;
    text-transform     : uppercase;
    transition         : background-color .2s cubic-bezier(.46, .01, .32, 1);
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    vertical-align     : middle;
    white-space        : nowrap;
    width              : auto;
    border             : 1px solid #000;
}